.flight-link-bar{
    /* padding: 1rem; */
    position: sticky;
    z-index: 1000;
}
.flight-link-bar ul li {
    list-style-type: none;
    padding: 1rem;
    width: 45%;
    align-items: center;
    background-color: grey;
    text-align: center;
}

.links {
    color: white;
    text-decoration: none;
}