.app1 {
    font-family: sans-serif;
    /* display: flex;
   flex-direction: column;
    height: 88.2vh; 
     font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;  */
     background-image: url('../images/inspiration4bg.jpg'); 
 /* color: white;
    font-size: small; */
    left: 80%; 
  }

    
    
 
  

